@import "tailwindcss";

@font-face {
  font-family: 'Saint';
  src: url('./Saint-4ZJ4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dubell';
  src: url('./dubellit.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'All-Star';
  src: url('./All-Star.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-dubell: 'Dubell', sans-serif;
  --font-saint: 'Saint', sans-serif;
  --font-all-star: 'All-Star', sans-serif;

  --color-background: #f3f4f6;
  --color-foreground: #ff0000;

  --animate-rotate-y-slow: rotate-y-slow 6s linear infinite;

  @keyframes rotate-y-slow {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
}

@utility backface-hidden {
  backface-visibility: hidden;
}

@utility transform-style-3d {
  transform-style: preserve-3d;
}

@utility rotate-y-180 {
  transform: rotateY(180deg);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  /* Se quiser que a fonte padrão do site inteiro seja a Dubell, descomente abaixo: */
  font-family: var(--font-dubell); 
}